<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MailInterno</servlet-name>
        <servlet-class>servlet.MailInterno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUsuario</servlet-name>
        <servlet-class>servlet.eliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPerfil</servlet-name>
        <servlet-class>servlet.modificarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarse</servlet-name>
        <servlet-class>servlet.registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loguearse</servlet-name>
        <servlet-class>servlet.loguearse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HacersePremium</servlet-name>
        <servlet-class>servlet.HacersePremium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busqueda</servlet-name>
        <servlet-class>servlet.busqueda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailInterno</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loguearse</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarse</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HacersePremium</servlet-name>
        <url-pattern>/Premium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUsuario</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarPerfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busqueda</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
