*{
    margin:0; 
    padding:0;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

footer#comun_footer{
    margin-top: 20px;
    color: white;
    z-index: 10;
    text-align: center;
    text-shadow: #555 2px 2px 3px;
}

input:focus:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}