*{
    margin:0; 
    padding:0;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-image: url("../img/f4.png");
}

footer#comun_footer{
    margin-top: 20px;
    color: white;
    z-index: 10;
    text-align: center;
    text-shadow: #555 2px 2px 3px;
}

input:focus:invalid {
    border-color: red;
    background-color: coral;
}

input:valid {
    border-color: green;
}

input:optional:valid{
    border-color: inherit;
}

fieldset{
    border-color:coral;
}