*{margin:0; padding:0;}
body {font-family: Verdana, sans-serif; font-size:0.8em;}
header,nav,section,article,footer {border:1px solid grey; margin:5px; padding:8px;}
nav ul li {display:inline; margin:5px;}