div#ejemplos_caja {
    margin: 10px;
    width: 350px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 8px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}
 
/*input:required:invalid {
   border-color:grey;
}
 
input:required {
    border-color: yellow;
}*/