header{
    border:1px solid pink; 
    position:relative
}
div#header_user{
    border:1px solid blue; 
    width:200px; 
    height:80px; 
    bottom:0px; 
    right:0px; 
    position:absolute; 
    margin:10px;
}
img#header_logo{
    border:1px solid red; 
    width:100px; 
    height:100px; 
    margin:10px;
}