
body{
      background-image: url("../img/f4.png");
}

#index_SECTIONID{
    margin-left: auto;
    margin-right: auto;
    margin-top:90px;
    width: 500px;
    padding:20px;
    border-radius: 8px;
    border:1px solid grey;
    background-color: rgba(255, 255, 255, 0.5);
}

#index_TABLA{
    background: #FF2626;  
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    z-index: 3;
}

#index_TABLA tr td {
    box-shadow: 15px 10px 37px 1px rgba(150,145,150,0.64);
    height: 40px;
    text-align: center;
    border-style: inset;
    border: 1px solid black;
    font-size: 22px; 
    font-family: "Tahoma", "Geneva", sans-serif; 
    
}
.index_ENLACES
{   
 text-decoration:none; 
 color: black;
}   

.index_ENLACES:hover{
    color:white;
}

/*input.index_btn{
width:90px; 
height: 25px;
font-family: "Tahoma", "Geneva", sans-serif;
}*/

.index_btn {
    margin-left: 80px;
    margin-bottom: 100px;
    border: 1px solid #DBE1EB;
    font-size: 18px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 1px;
    border-radius: 4px;
    background: #4972B5;
    background: -webkit-linear-gradient(left, #4972B5, #618ACB);
    color: #FFFFFF;
}
.index_btn:hover {
  background: #365D9D;
  background: -webkit-linear-gradient(left, #365D9D, #436CAD);
  color: #FFFFFF;
  border-color: #FBFFAD;

}

#index_infoSesion{
    display:none;
    border: 10px black;
    background: #FF2626;  
    border-radius: 10px;
    width: 500px;
    height: 100px;
    z-index: 4;
    font-size: 18px;
    font-family: "Tahoma", "Geneva", sans-serif;
    
}

#index_CAPTION{
    background: transparent;
    font-family: fantasy;
    font-size: 40px;
    text-shadow: 0.01em 0.01em #333;
}

#index_Logo{
    margin:auto;
    display:block;
    height: 390px;
    width:390px;
    z-index:1;
}

/*#index_ENLACEVOLVER{
        background: url("../img/volver.png");
        background-repeat: no-repeat;
        padding-left:10px;
}*/