
/*body{
      background-image: url("../img/fondo.png"); background-position: center; background-size: cover;
      background-repeat: no-repeat; background-color: black; background-size: 80%;
          }*/

.index_SECTION{
    margin-top:400px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.index_TABLA{
    top: 1500px; 
    left: 150px;
    background: #FF2626;  
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    
}
.index_ENLACES
{   
 text-decoration:none; 
 color: black;
}   

.index_TABLA tr td {
    -webkit-box-shadow: 15px 10px 37px 1px;
    -moz-box-shadow: 15px 10px 37px 1px rgba(150,145,150,0.64);
    box-shadow: 15px 10px 37px 1px rgba(150,145,150,0.64);
    text-decoration-color: white;
    height: 40px;
    text-align: center;
    border-style: inset;
    border: 1px solid black;
    color: white;
    font-size: 22px; 
    font-family: "Tahoma", "Geneva", sans-serif; 
    
}

#index_CAPTION{
    background: white;
    font-family: fantasy;
    font-size: 40px;
}

#index_Logo{
    position: absolute;
    margin-top: 70px;
    left: 730px;
    top: 10px;
    height: 350px;
    width: 350px;
    z-index:1;
}

