
/*body{
      background-image: url("../img/fondo.png"); background-position: center; background-size: cover;
      background-repeat: no-repeat; background-color: black; background-size: 80%;
          }*/
/*#index_CajaPrincipal{
   border:1px solid black;
   margin: auto;
   margin-top: 450px;
}*/

index.Clase text{
    text-align: center;
}

#index_Logo{
    position:fixed;
    width: 350px;
    left: 480px;
    top: 0px;
    height: 350px;
    z-index:1;
}