
div#logueado_center{
    margin:auto;
    width:800px; 
    margin-top:50px; 
    padding:10px; 
    border-radius: 8px;
    border:1px solid grey; 
    background-color: rgba(255, 255, 255, 0.95);
}

header#logueado_header{
    border:1px solid red; 
    border-radius: 8px;
}

div#logueado_header_user{
    border:1px solid orange;
    border-radius: 8px;
    padding: 10px;
    width:250px; 
    height:80px; 
    float:right;
    margin:10px;
}

div#logueado_header_user img{
    float: right;
    width: 100px;
    height: 85px;
    border: 1px solid gray;
    border-radius: 8px;
}

div#logueado_header_user h4{
    display: inline;
}

img#logueado_header_logo{
/*    border:1px solid red; */
    width:500px; 
    height:120px;
}

section#logueado_section{
    border:1px solid red;
    border-radius: 8px;
    padding:10px;
    position:relative;
}

nav#logueado_nav{
/*    border:1px solid green;*/
}

nav#logueado_nav ul li{
    display:inline-block; 
    padding:5px; 
    margin:10px; 
    border:1px solid orange;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.5);
}

nav#logueado_nav ul li:hover{
    background-color: rgba(255, 0, 0, 1);
}

nav#logueado_nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer#logueado_footer{
/*    border: 1px solid yellow;*/
    text-align: right;
    padding: 5px;
}