body{
    background-image: url('../img/f4.png');
}

div#logueado_center{
    margin:auto;
    width:800px; 
    margin-top:50px; 
    padding:10px; 
    border:1px solid black; 
    background-color: white;
}

header#logueado_header{
    border:1px solid pink; 
    position:relative;
}

div#logueado_header_user{
    border:1px solid blue; 
    width:200px; 
    height:80px; 
    bottom:0px; 
    right:0px; 
    position:absolute; 
    margin:10px;
}

img#logueado_header_logo{
    border:1px solid red; 
    width:100px; 
    height:100px; 
    margin:10px;
}

section#logueado_section{
    border:1px solid magenta;
}

nav#logueado_nav{
    border:1px solid green; 
    height: 50px;
}

nav#logueado_nav ul li{
    display:block; 
    float:left; 
    padding:5px; 
    margin:10px; 
    border:1px solid orange;
}

footer#logueado_footer{
    border: 1px solid yellow;
}