div#logueado_center{
    margin:auto;
    width:800px; 
    margin-top:50px; 
    padding:10px; 
    border:1px solid black; 
    background-color: white;
}
body{
    background-image: url('../img/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-size: 80%
}
section{
    border:1px solid magenta;
    height: 500px;
}