div#logueado_center{
    margin:auto;
    width:800px; 
    margin-top:50px; 
    padding:10px; 
    border:1px solid black; 
    background-color: white;
}
body{
    background-image: url('../img/fondo.png');
}
section{
    border:1px solid magenta;
    height: 500px;
}