
/*div#perfil_foto{
    margin: 10px;
    width: 140px;
    height: 165px;
    border: 1px solid gray;
    border-radius: 8px;
    float:left;
    text-align: center;
}*/

input.perfil_btn {
    margin-top: 10px;
}