
/*div#registro_foto{
    margin: 10px;
    width: 140px;
    height: 165px;
    border: 1px solid gray;
    border-radius: 8px;
    float:left;
    text-align: center;
}*/


div#registro_center{
    margin:auto;
    width:800px; 
    margin-top:50px; 
    padding:10px; 
    border-radius: 8px;
    border:1px solid grey; 
    background-color: rgba(255, 255, 255, 0.95);
}

.registro_btn {
    margin-top: 10px;
}

#registro_title{
    background: transparent;
    font-family: fantasy;
    font-size: 40px;
    text-shadow: 0.01em 0.01em #333;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px dotted coral;
}